<div class="row visible-xs" style="margin-bottom:20px;">
    <form class="form col-md-6 col-md-offset-3" onsubmit="return false;">
        <div class="input-group">
            <input type="text" class="form-control" id="videokey" autocomplete="off">
            <span class="input-group-btn">
                <input class="btn btn-success" type="submit" value="搜索" id="videoSearch">
            </span>
        </div>
    </form>
</div>
<script>
    $(function () {
        function VideoSearch() {
            var key = $.trim($("#videokey").val());
            if (key === "" || key.length <= 0) {
                return;
            } else {
                window.open('/s/video/' + encodeURIComponent(key));
            }
        }
        $('#videokey').bind('keypress', function (event) {
            if (event.keyCode === "13") {
                VideoSearch();
            }
        });

        $('#videoSearch').bind('click', function (event) {
            VideoSearch();
        });

        $("#videokey").focus().select();

    });
</script>