<form class="navbar-form navbar-right hidden-xs" onsubmit="return false;">
    <label for="navbar-search" class="sr-only">Search:</label>
    <div class="form-group has-feedback has-feedback-left">
        <span class="form-control-feedback"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input type="text" class="form-control" name="s" id="navbar-search" value="" placeholder="搜索" autocomplete="off">
    </div>
</form>
<script>
    $(function () {
        $('#navbar-search').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                var key = $('#navbar-search').val();
                if (key == "" || key.length <= 0) {
                    //console.log("请先输入参数")
                } else {
                    window.location.href = '/s/video/' + encodeURIComponent(key);
                }
            }
        });
    })
</script>