html, body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #6f6f6f;
}

a,
a:active,
a:focus {
    color: #5cb85c;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

    a:hover {
        color: #76D17F;
        text-decoration: none;
    }

h1, h2, h3, h4, h5, h6 {
    color: #3f3f3f;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    line-height: 52px;
}

h2 {
    font-size: 36px;
    line-height: 48px;
}



h4 {
    font-size: 24px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 18px;
}

strong {
    color: #000;
}

.section {
    padding: 70px 0;
    position: relative;
}

/* Header */
/* ========================================================================== */

.gnome-header {
}

.gnome-navbar-brand {
    outline: 0;
    padding-top: 12px;
    color: #5cb85c;
    margin: 0 auto;
    width: 80px;
    text-align: center;
    font-size: 20px;
}

    .gnome-navbar-brand img {
        max-height: 35px;
        min-height: 35px;
        min-width: 35px;
    }


/* Main Navigation Menu */
/* ========================================================================== */

.navbar-default {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #e0e0e0;
}

    .navbar-default .navbar-brand {
        color: #ffffff;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #ffffff;
        }

    .navbar-default .navbar-text {
        color: #ffffff;
    }

    .navbar-default .navbar-nav > li {
        margin-left: 10px;
    }

        .navbar-default .navbar-nav > li > a {
            color: #6f6f6f;
            text-decoration: none;
        }

            .navbar-default .navbar-nav > li > a:hover,
            .navbar-default .navbar-nav > li > a:focus {
                color: #ffffff;
                background: rgba(100%, 100%, 100%, 0.2);
            }

        .navbar-default .navbar-nav > li > .dropdown-menu {
            background-color: #4a86cf;
        }

        .navbar-default .navbar-nav > li > .dropdown-toggle .caret {
            display: none;
        }

        .navbar-default .navbar-nav > li > .dropdown-toggle .dropdown-header {
            padding: 0px;
        }

        .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
            color: #ffffff;
            text-decoration: none;
            font-size: 13px;
        }

            .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
            .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
                color: #ffffff;
                background-color: #5cb85c;
            }

        .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
            background-color: #5cb85c;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #5cb85c;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #5cb85c;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #ffffff;
        background-color: #5cb85c;
    }

    .navbar-default .navbar-toggle {
        border: none;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #5cb85c;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #5cb85c;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: transparent;
    }

    .navbar-default .navbar-link {
        color: #ffffff;
    }

        .navbar-default .navbar-link:hover {
            color: #ffffff;
        }

/* Searchform on Navbar */
/* ========================================================================== */

#navbar-search {
    background-color: transparent;
    color: #5cb85c;
    border: none;
    border-radius: 0;
    transition: none;
    box-shadow: none;
    padding: 8px 0px 8px 10px;
    border-bottom: 1px solid #5cb85c;
    height: 35px;
}

    #navbar-search:focus {
        background-color: rgba(100%,100%,100%,0.1);
    }

    /* Color for search's placeholder text*/

    #navbar-search::-webkit-input-placeholder {
        color: #555;
    }

    #navbar-search::-moz-placeholder {
        color: #555;
    }

    #navbar-search::-ms-placeholder {
        color: #555;
    }

    #navbar-search::placeholder {
        color: #555;
    }

/* CSS hack to align search icon with the text*/

.fa.form-control-feedback {
    line-height: 34px;
}

.has-feedback-left input.form-control {
    padding-left: 34px;
    padding-right: 12px;
}

.has-feedback-left .form-control-feedback {
    /*left: 0;*/
}

.form-horizontal .has-feedback-left .form-control-feedback {
    left: 12px;
}

.form-control-feedback {
    color: #5cb85c;
    background-color: #fff;
}

/* Animated "Close" icon on Navbar */
/* ========================================================================== */

.navbar-toggle {
    background: transparent !important;
}

    .navbar-toggle:hover {
        background: transparent !important;
    }

    .navbar-toggle .icon-bar {
        width: 22px;
        transition: all 0.2s;
    }

    .navbar-toggle .top-bar {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform-origin: 10% 10%;
        -webkit-transform-origin: 10% 10%;
        -ms-transform-origin: 10% 10%;
    }

    .navbar-toggle .middle-bar {
        opacity: 0;
    }

    .navbar-toggle .bottom-bar {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform-origin: 10% 90%;
        -webkit-transform-origin: 10% 90%;
        -ms-transform-origin: 10% 90%;
    }

    .navbar-toggle.collapsed .top-bar {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
    }

    .navbar-toggle.collapsed .middle-bar {
        opacity: 1;
    }

    .navbar-toggle.collapsed .bottom-bar {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
    }

.navbar-form,
.navbar-collapse {
    box-shadow: none;
}

/*
Color
=========================== */
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover,
.side .widget ul.link li a:hover,
.side .widget ul.link li a:focus,
.check-list li:before,
ul.cart-list > li > h6 > a,
.attr-nav > ul > li > a:hover,
.attr-nav > ul > li > a:focus,
nav.navbar-sidebar ul.nav li.dropdown.on > a,
nav.navbar-sidebar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu li a:hover,
nav.navbar ul.nav li.dropdown.on > a,
nav.navbar.navbar-inverse ul.nav li.dropdown.on > a,
nav.navbar-sidebar ul.nav li.dropdown.on ul.dropdown-menu li.dropdown.on > a,
nav.navbar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar ul.nav > li > a:hover,
nav.navbar ul.nav > li.active > a:hover,
nav.navbar ul.nav li.active > a,
nav.navbar li.dropdown ul.dropdown-menu > li a:hover {
    color: #5cb85c;
}

nav.navbar.navbar-transparent ul.nav > li > a:hover,
nav.navbar.no-background ul.nav > li > a:hover,
nav.navbar ul.nav li.scroll.active > a,
nav.navbar.navbar-dark ul.nav li.dropdown ul.dropdown-menu > li > a:hover,
nav.navbar ul.nav li.dropdown.on > a,
nav.navbar-dark ul.nav li.dropdown.on > a {
    color: #5cb85c !important;
}

@media(max-width:920px) {
    nav.navbar .dropdown .megamenu-content .col-menu ul > li > a:hover,
    nav.navbar.navbar-dark .dropdown .megamenu-content .col-menu .title:hover {
        color: #5cb85c !important;
    }
}

/*
Border
=========================== */
ul.cart-list > li.total > .btn {
    border-color: #f43438;
}

nav.navbar li.dropdown ul.dropdown-menu {
    border-top-color: #f43438 !important;
}

/*
Background
=========================== */
ul.cart-list > li.total > .btn,
.attr-nav > ul > li > a span.badge,
nav.navbar .share ul > li > a:hover,
nav.navbar .share ul > li > a:focus {
    background-color: #f43438;
}

    ul.cart-list > li.total > .btn:hover,
    ul.cart-list > li.total > .btn:focus {
        background-color: #dc3236 !important;
    }

/*
pager
=========================*/
.paging {
    text-align: center;
    margin: 24px 0;
    clear: both
}

    .paging a {
        margin: 0 4px;
        width: 36px;
        height: 36px;
        display: inline-block;
        cursor: pointer;
        border: 1px solid #eee;
        line-height: 34px !important;
        color: #5cb85c;
        background: #fff;
        transition: background ease .4s;
        -webkit-transition: background ease .4s;
        -moz-transition: background ease .4s;
        -o-transition: background ease .4s;
        -ms-transition: background ease .4s
    }

        .paging a:hover {
            background-color: #5cb85c;
            color: #fff;
            border-radius: 50%
        }

    .paging .current {
        background-color: #5cb85c;
        color: #fff;
        margin: 0 4px;
        width: 36px;
        height: 36px;
        display: inline-block;
        cursor: pointer;
        border: 1px solid #eee;
        line-height: 34px !important;
    }

        .paging .current.prev, .paging .current.next {
            color: #5cb85c;
            background: #fff;
        }

.container {
    max-width: 1280px;
    text-align: left;
    position: relative;
    margin: 0 auto;
}

.footer {
    clear: both;
    color: #bbb;
    font-size: 12px;
    text-align: center;
    background-color: #FFF;
    margin-top: 20px;
}

.pagehead {
    padding: 100px 20px 0 20px;
    overflow: hidden;
}

.hotkey {
    margin: 0 40px;
}

    .hotkey a {
        margin-right: 20px;
    }

.updateList {
}

.index-title {
    color: #5cb85c;
    font-size: 16px;
    display:inline-block;
}

.updateList ul {
}

.updateList li {
    list-style: none;
}

.updateList a {
    display: inline-block;
    width: 100%;
}


.single-strong {
    color: #606060;
    font-size: 14px;
    font-weight: 700;
    border-left: 3px solid #ff5c5c;
    padding-left: 10px;
    display: block;
    line-height: 2pc;
    margin: 10px 0;
}

.search-statu {
    margin: 10px 0px 20px 0px;
}

.search-item {
    margin: 0px 0px 25px 0px;
    border-bottom: 1px solid #eee;
    padding-bottom: 22px;
}

    .search-item .item-title {
        font-size: medium;
        line-height: 1.2;
    }

    .search-item h3 {
        font-size: 1em;
        margin-bottom: 4px;
        word-wrap: break-word;
    }

.search-item-link {
}

    .search-item-link em {
        color: #d9534f;
        font-style: normal;
    }

.search-item .item-list {
    color: #545454;
    line-height: 1.4;
    font-size: 13px;
    word-wrap: break-word;
}

.search-item .item-bar {
    color: #00802a;
    font-size: 12px;
    line-height: 1pc;
    margin-top: 5px;
}

    .search-item .item-bar span {
        margin-right: 10px;
    }

.magnet-name {
    word-wrap: break-word;
}

.magnet-tags a {
    line-height: 28px;
}

.magnet-link {
    margin-bottom: 10px;
    display: block;
}


.search_no {
    margin: 40px 0px;
}

.search_result {
    padding-top: 30px;
}

.search_item {
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
}

.search_item_title {
    font-size: medium;
    line-height: 1.2;
}

.search_item_link {
}
