
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>VideoPlay</title>
    <meta charset="UTF-8">
    <link href="~/p2pDPlayer/player.css" rel="stylesheet" />
    <style type="text/css">
        body, html, .dplayer {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            background-color: #000
        }

        a {
            text-decoration: none
        }
    </style>
</head>
<body>
    <div id="dplayer"></div>
    <script src="~/p2pDPlayer/p2p.js"></script>
    <script src="~/p2pDPlayer/player.js"></script>
    <script>
        var dp = new DPlayer({
            container: document.getElementById('dplayer'),
            autoplay: true,
            video: {
                url: 'https://video-dev.github.io/streams/x36xhzz/url_2/193039199_mp4_h264_aac_ld_7.m3u8',
                type: 'hls'
            },
            danmaku: {
                id: '9E2E3368B56CDBB4',
                api: 'https://api.prprpr.me/dplayer/'
            },
            hlsjsConfig: {
                debug: false,
                p2pConfig: {
                    logLevel: 'none'
                }
            }
        });
        var _peerId = '', _peerNum = 0, _totalP2PDownloaded = 0, _totalP2PUploaded = 0;
        dp.on('stats', function (stats) {
            _totalP2PDownloaded = stats.totalP2PDownloaded;
            _totalP2PUploaded = stats.totalP2PUploaded;
            updateStats();
        });
        dp.on('peerId', function (peerId) {
            _peerId = peerId;
        });
        dp.on('peers', function (peers) {
            _peerNum = peers.length;
            updateStats();
        });

        function updateStats() {
            var text = 'P2P正在为您加速' + (_totalP2PDownloaded / 1024).toFixed(2)
                + 'MB 已分享' + (_totalP2PUploaded / 1024).toFixed(2) + 'MB' + ' 连接节点' + _peerNum + '个';
            console.log(text);
        }
    </script>
</body>
</html>
