<div class="footer bar">
    <div style="width: 960px;margin: 0 auto;text-align: center;">
        <a href="/about">@Resource.FooterAboutLink</a>
    </div>
</div>
<script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/clipboard.js/1.5.10/clipboard.min.js"></script>
<script>
    $(function () {
        $('#searchForm').submit(function (e) {
            e.preventDefault()
            location.href = '/s/' + encodeURIComponent($.trim($(this).find('input').first().val()))
        })
        $('input[type="text"]').focus().select()
    })
</script>
<script>
    (function () {
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<script>
    (function () {
        var src = document.location.protocol + '//js.passport.qihucdn.com/11.0.1.js?17512a9d5fdf12e562378a74f8f102ac';
        document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?43a75b46558d2646fb5b2355106edadd";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>