
@{
    ViewBag.Title = "关于BT香蕉";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="col-md-12">
        <h5>概述</h5>
        <p>
            <a href="/">BT香蕉</a>磁力搜索是一个BT搜索引擎，为的是解决Bittorrent协议自身没有实现资源搜索的功能。<br />
            通过DHT网络获取到用户正在下载的资源信息，包括文件名，大小等，具体来说就是实现了Bittorrent中的<a href="http://www.bittorrent.org/beps/bep_0003.html" target="_blank">bep_0003</a>, <a href="http://www.bittorrent.org/beps/bep_0005.html" target="_blank">bep_0005</a>, <a href="http://www.bittorrent.org/beps/bep_0009.html" target="_blank">bep_0009</a>, <a href="http://www.bittorrent.org/beps/bep_0010.html" target="_blank">bep_0010</a>四条协议。
        </p>
        <p>
            正因为如此，根据Bittorrent协议<a href="/">BT香蕉</a>只能获取到torrent文件的info信息，所以<a href="/">BT香蕉</a>服务器上<u>不保存任何torrent种子文件</u>，同时，也<u>不提供任何的tracker服务</u>，通常来说，这样就意味着<a href="/">BT香蕉</a><u>在绝大多数国家都是合法的</u>。
</p>
        <p>
            同时<a href="/">BT香蕉</a>也<u>不提供任何除资源搜索外的服务</u>。<a href="/">BT香蕉</a>的搜索结果通常都只是一个磁力链接，这样有利于互联网分享，如需下载资源，你还需要安装其它下载软件（如<a href="http://www.utorrent.com/" target="_blank">μTorrent</a>，<a href="http://www.bitcomet.com" target="_blank">BitComet</a>，<a href="http://dl.xunlei.com/" target="_blank">迅雷</a>等等）。
</p>
       
        <h5>搜索</h5>
        <p>
            <a href="/">BT香蕉</a>索引到的内容如果出现色情、暴力以及侵权等行为时，请联系我们，在核实信息后，我们会进行屏蔽处理。
        </p>
        <br />
        <h5>开源</h5>
        <p>
            <a href="/">BT香蕉</a>的相关项目是开源的吗？<br />
            是的。
        </p>
        <br />
        <p>
            <a href="https://github.com/niubileme/DHTSpider" target="_blank">DHTSpider</a> 一个由C#编写的DHT爬虫，从全球DHT网络里"嗅探"正在下载的资源, 并抓取相关metadata资源(种子信息)。
        </p>
        <p>
            <a href="https://github.com/niubileme/BT-Banana" target="_blank">BT-Banana</a> 使用Asp.Net Core2开发，Develop For <a href="/">btbanana.com</a>，目前稳定运行在CentOS服务器上。
        </p>
        <br />
        <p>
            以上。
        </p>
        <br />
    </div>
</div>

