
@{
    ViewData["Title"] = "视频解析接口";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var gkey = ViewData["gkey"];
    var url = ViewData["url"] as string;
    var auto = string.IsNullOrEmpty(url) ? 0 : 1;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9" id="iframeBox">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="alert alert-info">目前只支持腾讯视频解析，后期会增加对其他源的解析。</div>
        </div>
        <div class="col-md-10 col-xs-12" style="margin-top:8px;">
            <div class="input-group" style="width: 100%;">
                <input type="hidden" id="gkey" value="@gkey" />
                <input id="url" class="form-control input-lg" type="text" name="url" placeholder="输入视频播放地址，如：https://v.qq.com/x/cover/qee75hz1x7m6n3s.html" value="@url">
            </div>
        </div>
        <div class="col-md-2 col-xs-12" style="margin-top:8px;">
            <button class="btn btn-success btn-lg btn-block" id="btn">解析</button>
        </div>
    </div>
</div>
@section FootScripts{
    <script>
        $(function () {
            var auto =@auto;

            $("#btn").click(function () {
                if (isMobile()) {
                    alert("暂还不支持移动端");
                    return;
                }
                var url = encodeURIComponent($.trim($("#url").val()));
                var gkey = $("#gkey").val();
                if (!CheckUrl(url)) {
                    alert("请输入正确的视频地址！");
                    return;
                }
                $.ajax({
                    url: "/analyse/getkey",
                    method: "post",
                    data: { "url": url, "gkey": gkey },
                    beforeSend: function () {
                        $("#iframeBox").html("");
                    },
                    success: function (response) {
                        if (response.errorCode == 0) {
                            var iframeBox = document.getElementById("iframeBox");
                            var iframe = document.createElement("iframe");
                            iframe.src = "/analyse/frame?rk=" + response.requestkey;
                            iframe.className = "embed-responsive-item";
                            iframeBox.appendChild(iframe);
                        } else {
                            console.log(response.msg);
                        }
                    },
                    error: function () {
                        console.log("服务器出现了一个错误。");
                    }
                });

            });

            function CheckUrl(str) {
                var reg = /(http||https).+?v.qq.com.+?/;
                if (!reg.test(str)) {
                    return false;
                }
                return true;
            };

            function isMobile(){
                if (navigator.userAgent.match(/(iPhone|iPad|iPod|Android|ios)/i)) {
                    return true;
                }
                return false;
            }

            if (auto > 0)
                $("#btn").click();
        })
    </script>
}