
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>404页面出错了 - BT香蕉btbanana.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="~/404/404.css" rel="stylesheet" />
    <!-- 设置10秒返回  -->
    <script type="text/javascript">setTimeout(function () { top.location = '/'; }, 10000)</script>
</head>
<body>
    <div class="error404">
        <div class="info">
            <h1>404</h1>
            <h2>抱歉，您访问的页面不存在或已被删除！ (｡•ˇ‸ˇ•｡)</h2>
            <!--<p>The page you are looking for was moved, removed, renamed or might never existed.</p>-->
            <div class="menu">
                <a href="/">首 页</a> | <a href="/video">电影库</a>
            </div>
            <a href="/" class="btn">返回首页</a>
        </div>
        <div class="pic">
            <img src="~/404/404.gif" />
        </div>
    </div>
</body>
</html>