
@{
    Layout = null;
}
<!DOCTYPE HTML>
<!--[if IE 7 ]><html class="ie7" lang="zh-cn"><![endif]--><!--[if IE 8 ]><html class="ie8" lang="zh-cn"><![endif]--><!--[if IE 9 ]><html class="ie9" lang="zh-cn"><![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<html class="" lang="zh-cn">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>电影库 - BT香蕉btbanana.com</title>
    <link href="~/css/diycover.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>
    <div id="cover">
        @Html.Partial("_Footer")
    </div>
</body>
</html>