
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="form col-md-6 col-md-offset-3">
            <div class="input-group">
                <input type="text" class="form-control" name="key" id="k">
                <span class="input-group-btn">
                    <input class="btn btn-success" type="submit" id="s" value="视频搜索">
                </span>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 search_result">
        <p class="search_no text-center">请输入关键词，开始进行搜索。</p>

    </div>
</div>

@section FootScripts{
    <script>
        $(function () {
            $("#s").click(function () {
                var key = $.trim($("#k").val());
                if (key == "" || key.length <= 0) {
                    //console.log("请先输入关键词")
                } else {
                    $.ajax({
                        type: 'POST', url: '/Home/SearchPost', data: { key: key }, success: function (data) {
                            $('.search_result').html('');
                            if (data.error == 0) {
                                $.each(data.data, function (i, v) {
                                    $('<div class="search-item"><div class="item-title"><a class="search-item-link" href="/analyse?url=' + encodeURIComponent(v.url) + '" target="_blank">[腾讯视频]' + v.name + '</a></div></div>').appendTo('.search_result');
                                });
                            } else {
                                $('<p class="search_no text-center">没有找到相关结果。</p>').appendTo('.search_result');
                            }
                        },
                        before: function () {
                            $('<p class="search_no text-center">搜索中...</p>').appendTo('.search_result');
                        }
                    });
                }
            });

        });
    </script>
}