
@{
    ViewData["Title"] = "Analyse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9" id="iframeBox">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-10 col-xs-12" style="margin-top:8px;">
            <div class="input-group" style="width: 100%;">
                <input type="hidden" id="gkey" value="@ViewData["gkey"]" />
                <input id="url" class="form-control input-lg" type="text" name="url" placeholder="输入视频播放地址，如：https://v.qq.com/x/cover/qee75hz1x7m6n3s.html">
            </div>
        </div>
        <div class="col-md-2 col-xs-12" style="margin-top:8px;">
            <button class="btn btn-success btn-lg btn-block" id="btn">解析</button>
        </div>
    </div>
</div>
@section FootScripts{
    <script>
        $(function () {
            $("#btn").click(function () {
                var url = $.trim($("#url").val());
                var gkey = $("#gkey").val();
                if (url.length <= 0 || url == "") {
                    alert("请输入正确的视频地址！");
                    return;
                }
                $.ajax({
                    url: "",
                    method: "post",

                });
                var iframeBox = document.getElementById("iframeBox");
                var iframe = document.createElement("iframe");
                iframe.src = "/analyse/frame?url=111&key=222";
                iframe.className = "embed-responsive-item";
                iframeBox.appendChild(iframe);
            });

        })
    </script>
}