
@{
    Layout = null;
}
<!--
**
 *   ┏┓　　　┏┓
 * ┏┛┻━━━┛┻┓
 * ┃　　　　　　　┃
 * ┃　　　━　　　┃
 * ┃　┳┛　┗┳　┃
 * ┃　　　　　　　┃
 * ┃　　　┻　　　┃
 * ┃　　　　　　　┃
 * ┗━┓　　　┏━┛
 *    ┃　　　┃
 *    ┃　　　┃
 *    ┃　　　┗━━━┓
 *    ┃　　　　　　　┣┓
 *    ┃　　　　　　　┏┛
 *    ┗┓┓┏━┳┓┏┛
 *      ┃┫┫　┃┫┫
 *      ┗┻┛　┗┻┛
 *
 *
 *
-->
<!DOCTYPE HTML>
<!--[if IE 7 ]><html class="ie7" lang="zh-cn"><![endif]--><!--[if IE 8 ]><html class="ie8" lang="zh-cn"><![endif]--><!--[if IE 9 ]><html class="ie9" lang="zh-cn"><![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<html class="" lang="zh-cn">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>111</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="~/css/index-cover.css" rel="stylesheet" />
</head>
<body>
    <div id="cover">

        <div class="topbar">
            <div id="logo">
                <a href="">

                </a>
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/js/bootsnav.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function () {
            $('#searchForm').submit(function (e) {
                e.preventDefault()
                location.href = '/s/' + encodeURIComponent($.trim($(this).find('input').first().val()))
            })
            $('input[type="text"]').focus().select()
        })
    </script>
    <script>
        $(function () {
            $.ajax({ type: 'POST', url: '/Home/GetBaiDuHotKeys', data: { num: 20 }, success: function (data) { if (data.msg) { $.each(data.data, function (i, v) { $('<a href="/s/magnet/' + v + '">' + v + '</a>&nbsp;&nbsp;&nbsp;&nbsp').appendTo('.hotkey'); }); } } });
        })
    </script>



</body>
</html>