
@{
    Layout = null;
}

<!DOCTYPE HTML>
<!--[if IE 7 ]><html class="ie7" lang="zh-cn"><![endif]--><!--[if IE 8 ]><html class="ie8" lang="zh-cn"><![endif]--><!--[if IE 9 ]><html class="ie9" lang="zh-cn"><![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<html class="" lang="zh-cn">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>电影库 btbanana.com</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="~/css/diycover.css" rel="stylesheet" />
</head>
<body>
    <div id="cover">

        <div class="topbar">
            <div id="logo">
                <a href="">

                </a>
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>